body{
    background-color: #47194f;
    background-image: url('img/pattern.png');
    background-repeat: repeat;
    margin: auto;
    
}

div{margin: auto; width: 100%; display: flex; text-align: center;}

canvas{
    margin: auto;
    border: dotted thin #000;
    z-index: 1;
    position: absolute;
   
    
}

#init-credit{
    margin: auto;
    width: 800px;
    height: 600px;
    z-index: 80;
    position: absolute;
    background-image:url('./img/initial-credits.png'); background-repeat: no-repeat;
}

.invisible{display: none;}